.main {
  height: 350px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.conteudo-main {
  display: flex;
  text-align: left;
  line-height: 1;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  flex: 2;
  margin: 10px;
  padding: 10px;
  font-size: clamp(4rem, 10vw, 2rem);
  background-color: #2222222c;
  color: #2c2c2c;
}

.conteudo-main span {
  font-size: clamp(3rem, 10vw, 2rem);
  margin: 10px;
}

.conteudo-main .nich {
  margin: 10px;
  display: inline-block;
}

.conteudo-main .type {
  font-size: clamp(3rem, 10vw, 2rem);
  font-weight: normal;
  margin: 10px;
}
.type::after {
  content: "|";
  opacity: 1;
  display: inline-block;
  animation: blink 0.7s infinite;


}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  background-color: #2222222c;
  color: #2c2c2c;
}


.img-sobre {
  width: 100%;
  margin: 10px;
  background-image: url(../img/nico.jpg);
  background-size: cover;

}
.nico {
width: 300px;
}
.filtro {
  width: 100%;
  height: 100%;
  background-color: #ffd700;
 opacity: 30%;
}

#cog {
  width: 280px;
  height: 150px;
  transform: translatey(10px)
}

#cog1 {
  width: 200px;
  height: 200px;
}

#cog2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 95%;
}

.wordkey {
  display: none;
}

.agrupado {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}
