.main {
  width: 100%;
  max-width: 1200px;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
}

.conteudo-main {
  font-family: "DotGothic16", sans-serif;
  line-height: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 2;
  margin: 10px;
  padding: 10px;
  font-size: clamp(3.5rem, 10vw, 2rem);
  background-color: #2222222c;
  color: #2c2c2c;
}

.conteudo-main h1 {
  color: #ffd700;
  text-shadow: 1px 1px #2c2c2c;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: 10px;
  padding: 10px;
  font-size: 15rem;
  background-color: #2222222c;
  color: #2c2c2c;
}
