@media (max-width: 1100px) {
  .conteudo-main {
    font-size: clamp(3rem, 10vw, 2rem);
  }
}

@media (max-width: 900px) {
  .skills-info {
    margin-bottom: 60px;
  }

  .tag {
    display: none;
  }

  .contato-email p {
    display: none;
  }
}

@media (max-width: 900px) {
  .dica {
    display: none;
  }

  .sobre-img {
    margin-top: 60px;
  }
}

@media (max-width: 760px) {
  html {
    font-size: 50%;
    padding-top: 0px;
  }

  header .label {
    font-size: 2rem;
  }

  .topo {
    display: none;
  }

  .icon-mob {
    display: flex;
  }
}

@media (max-width: 610px) {
  .icones-skills img {
    width: 90px;
    height: 90px;
  }
}

@media (max-width: 470px) {
  .conteudo-main {
    font-size: clamp(2rem, 10vw, 2rem);
    line-height: 1.3;
  }

  .conteudo-main h2 {
    font-size: clamp(2rem, 10vw, 2rem);
  }

  .sobre-img img {
    width: 95%;
  }

  .icones-skills {
    display: none;
  }
}

@media (max-width: 365px) {
  .flex {
    transform: scale(0.8);
  }

  .box {
    width: 250px;
  }

  .atras {
    width: 250px;
  }

  .frente::before {
    top: -15px;
  }

  .msg {
    width: 229px;
  }
}

@media (max-width: 300px) {
  .flex {
    display: none;
  }
}
