

@media (max-width: 970px) {
  html {
    font-size: 55%;
  }
  .flex {
    max-width: 300px;
    margin: 0 auto;
    padding-left: 20px;
    margin-top: 60px;
  }

  .msg {
    top: 55px;
    left: 4px;
  }
}

@media (max-width: 940px) {
  .contato-arroba {
    display: none;
  }
  .tag {
    display: none;
  }

  .img-sobre {
    display: none;
  }
}

@media (max-width: 760px) {
  .icones-skills {
    justify-content: space-around;
  }
  .topo {
    display: none;
  }

  .icon-mob {
    display: flex;
  }
}

@media (max-width: 600px) {
  .contato-info a {
    font-size: clamp(2.5em, 1em + 4vw, 1.5em);
  }
}

@media (max-width: 500px) {
  .corpo h1 {
    font-size: 1.2em;
  }

  .contato-info a {
    font-size: clamp(1.6em, 1em + 1vw, 1.5em);
  }

  .conteudo-main .type {
    font-size: clamp(1rem, 10vw, 2rem);
  }
}

@media (max-width: 365px) {
  .contato-info a {
    font-size: clamp(1em, 1em + 1vw, 1.5em);
  }

  .flex {
    transform: scale(0.8);
    gap: 50px;
    transform: translateX(-50px);
  }

  .box {
    margin: 0 50px;
    width: 250px;
  }

  .atras {
    width: 250px;
  }

  .frente::before {
    top: -15px;
  }

  .msg {
    width: 240px;
  }
}

@media (max-width: 300px) {
  .flex {
    display: none;
  }
}
