.sobre {
  height: 100%;
  flex: 2;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
}

.sobre-info {
  height: 100%;
  font-size: 2.2rem;
  padding: 10px;
  margin: 10px;
  background-color: #2222222c;
}

.conteudo-sobre {
  flex: 2 500px;
  margin-bottom: 20px;
}

.sobre-info p {
  text-indent: 15px;
  font-size: 2.2rem;
  line-height: 3rem;
  margin: 20px 10px;
}

.sobre-img img {
  width: 400px;
  height: 95.2%;
  padding: 2px;
  flex: 2 2 500px;
  object-fit: cover;
  background-color: #2222222c;
  margin: 10px;
}

.caixa {
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.icones-skills {
  display: flex;
  justify-content: space-between;
}

.icones-skills > img {
  margin: 10px;
  padding: 10px;
  width: 100%;
  height: 100%;
  background-color: #2222222c;
}

@keyframes float {
  0% {
    transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

.skills {
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
}

.skills-info {
  flex: 2 2 450px;
  padding: 10px;
  margin: 10px;
  background-color: #2222222c;
}

.skills-info p {
  text-indent: 15px;
  font-size: 2.2rem;
  line-height: 3rem;
  margin: 20px 10px;
}

.codepen {
  background-color: #2222222c;
  max-width: 400px;
  padding: 10px;
  margin: 10px;
  background-color: #2222222c;
  box-shadow: 5px 5px #ffd700;
  border: 1px dashed #2c2c2c;
}

.codepen p {
  text-indent: 15px;
  font-size: 2.2rem;
  line-height: 3rem;
  margin: 20px 10px;
}

.projetos {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.projetos-info {
  flex: 1;
  padding: 10px;
  margin: 10px;
  background-color: #2222222c;
}

.projetos-info a {
  font-weight: normal;
}

.projetos-info p {
  margin: 10px;
}

.projetos-info .git {
  margin: 20px 10px;
  font-size: 2.2rem;
}

.projetos-info .git a {
  font-weight: bold;
}

.msg {
  display: block;
  position: absolute;
  top: 54.5px;
  left: 15px;
  width: 270px;
  height: 190px;
  background-color: #f3f2f2;
  transition: 0.3s ease-in-out;
}

.msg:hover {
  z-index: 10;
}

.msg p {
  font-size: 2.5rem;
}

.box:hover .msg {
  transform: translatey(-110px);
  box-shadow: 5px 5px 5px #2c2c2c;
}

.flex {
  margin-left: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
}

.atras {
  position: absolute;
  width: 280px;
  height: 200px;
  background: #2c2c2c;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.atras::before {
  top: -20px;
  content: "";
  position: absolute;
  width: 90px;
  height: 20px;
  background: #2c2c2c;
  border-top-right-radius: 10px;
}

.frente {
  position: relative;
  top: 20px;
  left: -20px;
  width: 280px;
  height: 200px;
  background: #ffd700;
  box-shadow: 3px 3px 3px #2c2c2c;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.frente::before {
  top: -20px;
  content: "";
  position: absolute;
  width: 90px;
  height: 20px;
  background: #ffd700;
  border-top-right-radius: 10px;
}

.contato {
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
}

.contato-info {
  height: 100%;
  flex: 2 500px;
  font-size: 2.2rem;
  padding: 10px;
  margin: 10px;
  background-color: #2222222c;
}

.contato-info p {
  font-size: clamp(3rem, 10vw, 2rem);
  line-height: 4.5rem;
  margin: 20px 10px;
}

.contato-email p {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: 10px;
  padding: 10px;
  font-size: 20rem;
  background-color: #2222222c;
  color: #2c2c2c;
}

.conteudo {
  flex: 2 500px;
}
